.apper-left {
  animation: apper-left linear;
  animation-timeline: view();
  animation-range: entry;
}

.apper-right {
  animation: apper-right;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes apper-left {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

/* main */

@keyframes apper-right {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(10px);
    display: block;
  }
  50% {
    backdrop-filter: blur(5px);
  }
  100% {
    backdrop-filter: blur(0px);
    display: none;
  }
}

/* hero */

@keyframes fadeOut {
  0% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* categories */

@keyframes headingFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes headingFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes headingFadeInRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes headingPopUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleUptoFull {
  from {
    transform: scale(5);
  }
  to {
    transform: scale(0);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes textFadeIbLeft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes expand {
  from {
    /* opacity: 0; */
    /* transform: translateX(-10%); */
    width: 0;
    overflow: hidden;
  }
  to {
    /* transform: translateX(0); */
    /* opacity: 1; */
    width: 100%;
  }
}
