@import "tailwindcss";

/* color */
@layer utilities {
  .bg-primary {
    background: #fff7f2;
  }
  .text-primary {
    color: #fff7f2;
  }

  .primary-btn,
  .secondary-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    transition: all 1s;
    text-align: center;
  }

  .primary-btn {
    background-color: black;
    color: white;
  }

  .secondary-btn {
    background-color: white;
    color: black;
    border: solid 1px;
  }

  .primary-btn::after,
  .secondary-btn::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 1s;
    overflow-x: hidden;
    border-radius: 10px;
  }

  .primary-btn:hover::after {
    opacity: 20%;
    background: white;
    /* height: 100%; */
    width: 100%;
    transition: all 1s;
  }

  .secondary-btn:hover::after {
    opacity: 10%;
    background: black;
    /* height: 100%; */
    width: 100%;
    transition: all 1s;
  }
}

/* Define the animation in Tailwind v4 style */

.quickPickItem {
  /* box-shadow: 1px 1px 20px 1px cyan; */
  animation: glow 2s infinite;
  background-color: rgb(231, 255, 255);
}

.quickPickItem::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px rgb(231, 255, 255);
  border-radius: 100%;
  padding: 0.8rem;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
}

@theme {
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-10%);
    }
  }
}

.trending-container::-webkit-scrollbar {
  display: none;
}

h1.heading-text {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3.sub-heading {
  margin-block: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  /* my-8 font-bold text-2xl */
}

.sale-track:hover {
  animation-play-state: paused;
}

.navbar ul li {
  position: relative;
  cursor: pointer;
}

.navbar ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
  padding: 0.8px;
  background-color: black;
  /* transition: all; */
}

.navbar ul li.saleTag::after {
  background-color: red;
}

@keyframes primaryAnim {
  0% {
    width: 100%;
  }
  100% {
    width: 10%;
    right: 50%;
  }
}

.navbar ul li:hover::after {
  animation: primaryAnim 2s forwards ease-in-out;
}

.text-outline {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.icon {
  border: solid 1px black;
  height: 30px;
  width: 30px;
  border-radius: 4px;
}

/* container hides overflow */
.sale-container {
  overflow: hidden;
  white-space: nowrap;
}

/* the track scrolls + is 200% width */
.sale-track {
  display: inline-flex;
  width: max-content;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
